name: CI

permissions:
  contents: read
  packages: read

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Many color libraries just need this to be set to any value, but at least
  # one distinguishes color depth, where "3" -> "256-bit color".
  FORCE_COLOR: 3

jobs:
  pre-commit:
    name: Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.5.0

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - name: Install
        run: uv sync --no-default-groups --group nox --group lint --locked

      - name: Run pre-commit
        run: uv run --frozen nox -s precommit

  tests:
    name: Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    needs: [pre-commit]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13"]
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.5.0

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          uv sync --no-default-groups --group nox --group test --locked

      - name: Test package
        run: |
          uv run --frozen nox -s pytest -- --cov --cov-report=xml --cov-report=term --durations=20

      - name: Upload coverage report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  test_oldest:
    name: Check Oldest Dependencies
    runs-on: ubuntu-latest
    needs: [pre-commit]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.5.0

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          python-version: "3.12"

      - name: Test package
        run: |
          uv run --frozen --group test --resolution lowest-direct pytest --cov --cov-report=xml --cov-report=term --durations=20

      - name: Upload coverage report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  benchmark:
    name: Run Benchmarks
    runs-on: ubuntu-24.04
    needs: [pre-commit]
    if:
      github.event_name == 'workflow_dispatch' || (github.event_name ==
      'pull_request' && contains(github.event.pull_request.labels.*.name, '⏱️
      Run benchmarks')) || (github.event_name == 'push' && github.ref ==
      'refs/heads/main')
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.5.0

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - name: Run benchmarks
        uses: CodSpeedHQ/action@972e3437949c89e1357ebd1a2dbc852fcbc57245 # v4.5.1
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          mode: instrumentation
          run: uv run --group test pytest tests/benchmarks --codspeed

  status:
    name: CI Pass
    runs-on: ubuntu-latest
    needs: [pre-commit, tests, test_oldest]
    if: always()
    steps:
      - name: All required jobs passed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
